*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --bg-color: #001;
    --second-bg-color: #112;
    --text-color: #fff;
    --main-color: rgba(35, 106, 137, 0.838);



}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color)
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/*...............*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;


}
.logo {
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    background: -webkit-linear-gradient(#1d2035, #636765);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    display: flex;

}
.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var (--main-color);
    cursor: pointer;
    display: none;

}

.nav-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.05);
}



.home {
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: var(--bg-color);
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;


}
.home-content h3 :nth-of-type(2) {
    margin-bottom: 2rem;
}
span {
    color: var(--main-color);
}
.home-content h1 {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.3;
    background: -webkit-linear-gradient(#001eff, #00ffae);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-img img {
    width: 30vw;
    border: 1px solid blue;
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    
    animation: borderAnimation 5s linear infinite;
}
@keyframes borderAnimation {
    0%{

    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    }

35% {
    border-radius: 60% 40% 57% 43% / 40% 54% 46% 60%;
}
65%{
    border-radius: 67% 33% 68% 32% / 27% 70% 30% 73%;
}
100% {
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
}
}
.home-content p {
    font-size: 1.6rem;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3w ease;

}
.social-media a:hover {
    transform: scale(1.2) translateY(-8px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);

}
.btn {
    display: inline-flex;
    padding: 1rem 2.8rem;
    background: rgb(12, 11, 18);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: rgba(16, 17, 16, 0.838);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}
.btn:hover {
    box-shadow: 0 0 1.6rem var(--main-color);
    
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 25vw;
    border: 3px solid var(--main-color);
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    animation: borderAnimation 5s linear infinite;
}

.heading {
    text-align: center;
    font-size: 4.5rem;


}

.about-content {
    padding: 0 4rem;
}
.about-content h2 {
    /* text-align: ; */
    line-height: 3;
    font-size: 20px;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    width: 30px;
}


.portfolio {
    background: black;

}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto) );
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}
.row {
    background: var(--second-bg-color);
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all 0.3s ease ;
}
.row img {
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
}

 .main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;

 }
 .row h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
 }
 .row i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 27px;
    border-radius: 50px;
    color: var(--bg-color);
    background: #075fe4;

 }
 .row h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
 }
  .row:hover {
    transform: scale(1.1) translateY(-8px);
    background-color: rgb(0, 102, 128);
    color: var(--text-color);
    box-shadow: 0 0 15px var(--main-color);

} 
.text {
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(201, 181, 181)
}
.education {
    background: rgb(27, 37, 37);
}
.education-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto) );
    align-items: center;
    gap: 2.3rem;
    margin-top: 2.5rem;

}
.row-edu img {
    height: 15%;
    width: 15%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
}
.row-edu h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.row-edu h4 {
    width: 50%;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    font-family:'Times New Roman', Times, serif
}
#pubb{
     box-sizing: content-box;
    box-shadow: #2d3130;
    box-shadow: 20px 20px solid 30px;
    border-radius: 40px;
    margin-bottom: 1.4rem;
    border-radius: 28px;
    border: 5px solid transparent;
    box-shadow: 0 0 5px rgb(37, 140, 106);
    transition: all 0.3 ease;
    
     
}

.row-pub:hover {
    transform: scale(0.8) translateY(-6px);
    background-color: rgb(36, 69, 125);
    color: rebeccapurple;
    box-shadow: 0 0 20px var(--main-color);

} 
.contact {
    background: var(--second-bg-color);
}
.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}
.contact form {
    max-width: 90rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}
.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    border: 1px solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;


}
.contact form .input-box input {
    width: 49%;
    margin: 0.7rem 0.35rem;
}
.contact form .btn {
    margin-top: 2rem;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: var(--bg-color);
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
.footer .social a:hover {
    transform: scale(1.2) translateY(-8px);
    background: greenyellow;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--second-bg-color);

}
.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}



/* Responsive  */

@media (max-width: 1285px){
    html {

    }


}

@media (max-width: 991px){
    header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    footer {
        padding: 2rem 3%;
    }
}
@media (max-width: 786px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: rgba(0,0,0,0.9);
        transition: all 0.3s ease;
        backdrop-filter: blur(10px);

    }
    .navbar a {
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navbar.active {
        right: 0;

    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content {
        order: 2; 
       }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column;
    }
    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .content form .input-box input {
        width: 100%;
    }
}


@media (max-width: 617px){
    .home-img img {
        width: 80vw;
        margin-top: 8rem;
    }
    .home-img img {
        width: 80vw;
        margin-top: 4rem;
    }
}
@media (max-width: 426px){
    .heading {
        font-size: 5rem;
        text-align: center;
        margin: 2rem 0;
    }
}
#skills{
    background: rgb(34, 35, 1);
}
.row-skills:hover {
    transform: scale(1.2) translateY(12px);
    background-color: rgb(0, 0, 0);
    color: rgb(5, 109, 109);
    box-shadow: 0 0 15px rgb(71, 58, 25);
}
.experience {
    background: var(--second-bg-color);
}
.experience-img {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.experience2-img img {
    height: 8%;
    width: 9%;
    border-radius: 5px;
    margin-bottom: 1rem;


}
.exp-content {
    padding-left: 0px;
    float: right;
    width: 85%;
    font-size: 15px;
}
/* .pro {
    line-height: 3;
    font-size: 20px;
} */

/* 
.size{
   
    padding-right: 25px;
   
    margin: 30px;
} */
